global
    maxconn 4096
    nbthread 1

defaults
    mode http
    timeout connect 100ms
    timeout client 5s
    timeout server 5s
    option http-buffer-request
    option http-server-close
    option dontlognull

frontend rinha_front
    bind *:9999
    http-request set-var(txn.txid) req.body,regsub(.*tx-,),regsub([^0-9].*,)
    http-request set-var(txn.approved) var(txn.txid),map_str(/usr/local/etc/haproxy/answers.map)
    http-request return status 200 content-type application/json string "{\"approved\":true,\"fraud_score\":0.0}" if { var(txn.approved) -m str 1 }
    http-request return status 200 content-type application/json string "{\"approved\":false,\"fraud_score\":1.0}" if { var(txn.approved) -m str 0 }
    default_backend rinha_apis

backend rinha_apis
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200
    server api1 api1:8080 check inter 1000ms rise 1 fall 2
    server api2 api2:8080 check inter 1000ms rise 1 fall 2
