global
    maxconn 8192
    nbthread 1
    tune.bufsize 16384
    tune.maxrewrite 1024

defaults
    mode tcp
    retries 0
    timeout connect 50ms
    timeout client 2s
    timeout server 2s
    timeout queue 2s
    option dontlognull

frontend rinha_front
    bind *:9999 backlog 4096 maxconn 12000
    default_backend rinha_apis

backend rinha_apis
    balance roundrobin
    default-server maxconn 3000
    server api1 /sockets/api1.sock
    server api2 /sockets/api2.sock
