global
    maxconn 4096
    nbthread 1

defaults
    mode http
    timeout connect 100ms
    timeout client 5s
    timeout server 5s
    option http-buffer-request
    option http-server-close
    option dontlognull

frontend rinha_front
    bind *:9999
    default_backend rinha_apis

backend rinha_apis
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200
    server api1 api1:8080 check inter 1000ms rise 1 fall 2
    server api2 api2:8080 check inter 1000ms rise 1 fall 2
